<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./partials/head') %> 
    <% if(locals.isAuthed == true){%>
    <%-    include('./partials/navbar-logged-in',{userInfo : locals.user}) %>
    <%  } else {%>
    <%-     include('./partials/navbar-signed-out')%>
    <%  } %>
    <%- include('./partials/index-navbar') %>
    <link rel="stylesheet" href="/stylesheets/detail-product.css">\
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
    />  

</head>

<body class="pt-5 pt-md-5" style="height: 2000px; font-family: Open Sans;">
    
    <div class="container-fluid">
        <div class="container-fluid mt-5" style="width: 90% !important;">
            <div class="row">
                <div class="col">
                    <a href="/products" style="text-decoration: none; color: black; "><i class="fa-solid fa-arrow-left"></i> Back to Results</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-6 col-lg-5 mb-4">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        <ul class="small-img-group w-100 px-0">
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie5.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Black - M"
                                                >
                                                <img src="/assets/hoodie5.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie2.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Blue"
                                                >
                                                <img src="/assets/hoodie2.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie3.jpg"
                                                data-fancybox="gallery"
                                                data-caption="Different color"
                                                >
                                                <img src="/assets/hoodie3.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                            <li class="small-img pb-1">
                                                <a 
                                                href="/assets/hoodie4.jpg"
                                                data-fancybox="gallery"
                                                data-caption="idk"
                                                >
                                                <img src="/assets/hoodie4.jpg" class="w-100" alt="item-item">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-9 xxvFru">
                                        <a 
                                            href="/assets/hoodie.jpg"
                                            data-fancybox="gallery"
                                            data-caption="Oprionso nj"
                                            >
                                            <img src="/assets/hoodie.jpg" class="w-100" alt="item-item">
                                            </a>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 order-first order-md-0">
                    <div class="row">
                        <h1><%= data.name %></h1>
                     </div>
                    <div class="row">
                        <p>by Jamie Kang</p>
                    </div>
                    <div class="row d-none d-md-block">
                        <p>This Hoodie was designed in 1915 by Jamie Kang as a part of the "Western Front" collection.
                            He later released a second series in 1940.
                        </p>
                    </div>
                </div>
    <!----------------- form ----------------->
                <form action = "/cart/add/" method = "POST">
                <div class="col-12 col-lg-5 col-xl-3">
                    <div class="container-fluid buy-cont">
                        <div class="row pb-2 pt-2">
                            <div class="col ms-1 av-label stock">
                                In Stock
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col ms-1">
                                <b>
                                <p id="color-name">Color: Blue Heather</p></b>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="container-fluid colors">
                                <ul class="ps-1  my-0">
                                    <li class="pe-1">
                                        <label>
                                            <input type="radio" name="color" value="Blue Heather" class="d-none" checked="checked">
                                            <span class="colorex"></span>
                                        </label>
                                    </li>
                                    <li class="pe-1">
                                        <label>
                                            <input type="radio" name="color" value="Red Heather" class="d-none">
                                            <span class="colorex"></span>
                                        </label>
                                    </li>
                                    <li class="pe-1">
                                        <label>
                                            <input type="radio" name="color" value="Green Heather" class="d-none">
                                            <span class="colorex"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col ms-1">
                                <label for="size"><b>Size:</b></label>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col ms-1">
                                <select class="form-select w-50" name="size" id="size" style="background-color: #f7f2f0;">
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                </select>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col ms-1">
                                <div class="container-fluid d-flex align-items-center mx-0 px-0">
                                    <b>Quantity: </b>
                                    <select class="form-select w-25 ms-1" name="quantity" id="quantity" style="background-color: #f7f2f0;">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-4">
                            <div class="col ms-1">
                                <div class="container-fluid d-flex align-items-center mx-0 px-0">
                                        <input type="hidden" name="price" value="<%= data.price %>"/>
                                        <input type="hidden" name="name" value="<%= data.name %>"/>
                                        <input type="hidden" name="description" value="<%= data.description %>"/>
                                        <input type="hidden" name="sku" value="<%= data.sku %>"/>


                                        <input class="btn btn-danger" type="submit" value="Buy Physical" style="background-color: #f34545;"/>
                                       <!--  <button class="btn btn-danger" style="background-color: #f34545;">Buy Physical</button>-->
                                    
                                    
                                    <b class="ms-2" style="font-size: 1.2rem;">CA$<%= data.price %></b>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col ms-1 d-flex justify-content-center">
                                Pickup at Office on February 22
                            </div>
                        </div>
                        <div class="row">
                            <div class="col ms-1 d-flex justify-content-center">
                                <p style="color: gray;">Secure Transaction</p> 
                            </div>
                        </div>
                    </div>
                </div>
                </form>
                <div class="col-12 d-md-none">
                    <div class="row">
                        <h2>Description</h2>
                        <p>This is a hoodie designed by WVSS talented student Jamie Kang <br>
                            It is available in multiple sizes and colors
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-between mt-5">
                        <div class="col-2">
                            <b style="white-space: nowrap;">Featured Products</b>
                        </div>
                        <div class="col-2 d-flex justify-content-end mb-4">
                            <a href="/test" style="white-space: nowrap; color: brown; text-decoration: none;"> See more <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <% productData.forEach(element => { %>
                            <div class="col-6 col-sm-3 col-md-2 mb-2">
                                <a href="/products/item/<%=element.sku%>">
                                    <%- include('./partials/shop-item', {element: element}); %>
                                </a>
                            </div>  
                        <% }) %>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <b style="white-space: nowrap;">Trending Clothing</b>
                        </div>
                        <div class="col-2 d-flex justify-content-end mb-4">
                            <a href="/test" style="white-space: nowrap; color: brown; text-decoration: none;"> See more <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row">
                      <% productData.forEach(element => { %>
                        <div class="col-6 col-sm-3 col-md-2 mb-2">
                            <a href="/products/item/<%=element.sku%>">
                                <%- include('./partials/shop-item', {element: element}); %>
                            </a>
                        </div>  
                    <% }) %>
                    </div>   
                </div>
                
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/bootstrapscript') %>
    
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script>
        if (document.querySelector('input[name="color"]')) {
            document.querySelectorAll('input[name="color"]').forEach((elem) => {
                elem.addEventListener("change", function(event) {
               // var item = event.target.value;
              //  document.getElementById("color-name").innerHTML = "Hello JavaScript!";
                console.log(event.target.value);
                document.getElementById("color-name").innerHTML = "Color: "+event.target.value;

                });
            });
        }
        
        // var checked_color = document.querySelector('input[name = "color"]:checked');
        // if(checked_color != null){  //Test if something was checked
        //     //document.getElementById("color-name").innerHTML = "Hello JavaScript!";
        // } 
        

    </script>

</body>
</html>
