<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./partials/head') %> 
    <%- include('./partials/navbar-test') %>
    <%- include('./partials/index-navbar') %>

</head>

<body class="pt-5 pt-md-5" style="height: 2000px; font-family: Open Sans;">
    <div class="container-fluid d-flex justify-content-center">
        <img src="assets/SeaJacket.jpg" alt="" class="featured_product_image my-3" style="width: 90%; border-radius: 25px;">
    </div>
    <div class="container-fluid">
        <div class="container-fluid mt-5" style="width: 90% !important;">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="row justify-content-between mt-5">
                        <div class="col-2">
                            <b style="white-space: nowrap;">Featured Products</b>
                        </div>
                        <div class="col-2 d-flex justify-content-end mb-4">
                            <a href="/test" style="white-space: nowrap; color: brown; text-decoration: none;"> See more <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <% locals.data.forEach(element => { %>
                            <div class="col-6 col-sm-3 col-md-2 mb-2">
                                <%- include('./partials/shop-item') %>
                            </div>  
                        <% }) %>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-2">
                            <b style="white-space: nowrap;">Trending Clothing</b>
                        </div>
                        <div class="col-2 d-flex justify-content-end mb-4">
                            <a href="/test" style="white-space: nowrap; color: brown; text-decoration: none;"> See more <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="row">
                      <% locals.data.forEach(element => { %>
                        <div class="col-6 col-sm-3 col-md-2 mb-2">
                            <%- include('./partials/shop-item') %>
                        </div>  
                    <% }) %>
                    </div>   
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
