<!DOCTYPE html>
<html lang="en">
<head>
    <title>HELP</title>
    <%- include('./partials/head') %> 
    <% if(locals.isAuthed == true){%>
    <%-    include('./partials/navbar-logged-in',{userInfo : locals.user}) %>
    <%  } else {%>
    <%-     include('./partials/navbar-signed-out')%>
    <%  } %>
    <%- include('./partials/index-navbar') %>
    <link rel="stylesheet" href="/stylesheets/orders.css">
</head>
<body class="mx-0 mt-5" style="height: auto; overflow-x: hidden;">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-5">
            <div class="container-fluid mt-4 ps-0">
                <h1><b>Your orders</b></h1>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-1">
            <div class="row mt-4 fltr">
                <ul>
                    <li class="d-inline-block me-3">
                        <div class="container bub" style="border-radius: 25px; background-color: #ECE7E5;">
                            <p class="bins">Total</p>
                        </div>
                    </li>
                    <li class="d-inline-block me-3 bub">
                        <div class="container" style="border-radius: 25px; background-color: #ECE7E5;">
                            <p class="bins">Not picked up</p>
                        </div>
                    </li>
                    <li class="d-inline-block me-3 bub">
                        <div class="container" style="border-radius: 25px; background-color: #ECE7E5;">
                            <p class="bins">Cancelled Orders</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7">
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-md-9 col-lg-7 pt-4">
            <div class="container-fluid pb-3 pt-2 px-0 mb-4" style="background-color: #ECE7E5; border-radius: 15px;">
                <div class="container-fluid"  data-bs-toggle="collapse" href="#collapseO1" role="button" aria-expanded="false" >
                    <div class="row">
                        <div class="col-8 col-sm-10">
                            <div class="ms-3">
                                <b class="d-none d-sm-inline-block">Order Placed on Wednesday </b><b class="d-inline-block">April 13, 2022</b>
                            </div>
                        </div>
                        <div class=" col-4 col-sm-2">
                            <b>Total: $538</b>
                        </div>
                    </div>
                </div>
                <hr class="my-1" style="height: 1px;">
                <div class="container-fluid px-0 collapse" id="collapseO1">
                    <div class="row mt-2">
                        <div class="col-2 pe-0">
                            <img src="/assets/item-example.jpg" alt="item-item" class="w-100 h-100 ms-3 mt-1" style="border-radius: 12px;">
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <b>Expensive Painting</b>
                            </div>
                            <div class="container">
                                Description
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 pe-0">
                            <img src="/assets/item-example.jpg" alt="item-item" class="w-100 h-100 ms-3 mt-1" style="border-radius: 12px;">
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <b>Expensive Painting</b>
                            </div>
                            <div class="container">
                                Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pb-3 pt-2 px-0 mb-4" style="background-color: #ECE7E5; border-radius: 15px;">
                <div class="container-fluid"  data-bs-toggle="collapse" href="#collapseO2" role="button" aria-expanded="false" >
                    <div class="row">
                        <div class="col-8 col-sm-10">
                            <div class="ms-3">
                                <b class="d-none d-sm-inline-block">Order Placed on Wednesday </b><b class="d-inline-block">April 13, 2022</b>
                            </div>
                        </div>
                        <div class=" col-4 col-sm-2">
                            <b>Total: $538</b>
                        </div>
                    </div>
                </div>
                <hr class="my-1" style="height: 1px;">
                <div class="container-fluid px-0 collapse" id="collapseO2">
                    <div class="row mt-2">
                        <div class="col-2 pe-0">
                            <img src="/assets/item-example.jpg" alt="item-item" class="w-100 h-100 ms-3 mt-1" style="border-radius: 12px;">
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <b>Expensive Painting</b>
                            </div>
                            <div class="container">
                                Description
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-2 pe-0">
                            <img src="/assets/item-example.jpg" alt="item-item" class="w-100 h-100 ms-3 mt-1" style="border-radius: 12px;">
                        </div>
                        <div class="col-9">
                            <div class="container">
                                <b>Expensive Painting</b>
                            </div>
                            <div class="container">
                                Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            

        </div>
    </div>
</div>
<%- include('./partials/footer') %>
<%- include('./partials/bootstrapscript') %>
</body>
</html>