<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./partials/head') %> 
    <%- include('./partials/navbar') %>

</head>

<body class="pt-5 pt-md-4 mt-md-5" style="height: auto; font-family: Open Sans;">
    <div class="container-fluid">
        <div class="container-fluid mt-5" style="width: 90%;">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-10">
                    <div class="row">
                        <% productData.forEach(element => { %>
                                <div class="col-sm-3 col-md-3 mb-2" >
                                    <a href="item/<%=element.sku%>">
                                        <%- include('./partials/shop-item') %>
                                    </a>

                                </div>  
                        <% }) %>
                    </div>
                        
                </div>
                <div class="col-md-3 col-lg-2 d-none d-md-block">
                        
                        <div>
                            <ul class="category nav-pills flex-column">
                                <li class="first_level_category nav-item"><a href="#" class="nav-link"><b>All categories</b></a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="nav-pills flex-column">
                                <li class="first_level_category nav-item"><a href="#" class="nav-link"><b>Clothing</b></a></li>
                                <hr class="category_line">
                                <li class="second_level_cat nav-item"> <a href="#" class="nav-link active">Sweatshirts</a></li>
                                <li class="second_level_cat nav-item"> <a href="#" class="nav-link">Polos</a></li>
                                <li class="second_level_cat nav-item"> <a href="#" class="nav-link">T-Shirts</a></li>
                                <li class="second_level_cat nav-item"> <a href="#" class="nav-link">Jackets</a></li>
                                <li class="second_level_cat nav-item"> <a href="#" class="nav-link">Hats</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="category nav-pills">
                                <li class="first_level_category nav-item"><a href="#" class="nav-link"><b>Club Products</b></a></li>
                                <hr class="category_line">
                                <li class="second_level_cat nav-item"><a href="#" class="nav-link">Jerseys</a></li>
                                <li class="second_level_cat nav-item"><a href="#" class="nav-link">Balls</a></li>
                                <li class="second_level_cat nav-item"><a href="#" class="nav-link">Knee Pads</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="category nav-pills">
                                <li class="first_level_category nav-item"><a href="#" class="nav-link"><b>Student Artwork</b></a></li>
                                <hr class="category_line">
                                <li class="second_level_cat nav-item"><a href="#" class="nav-link">Digital</a></li>
                                <li class="second_level_cat nav-item"><a href="#" class="nav-link">Physical</a></li>
                            </ul>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/bootstrapscript') %>
</body>

</html>